@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cert Page</title>
</head>
<body>
    <div>
        <h1>Upload your cert</h1>
        <form action="" method="post" enctype="multipart/form-data">

            <label for="file">Filename:</label>
            <input type="file" name="file" id="file" />
            <br />
            <label>Password</label>
            <input type="text" id="pwd" name="pwd" />
            <br />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
