
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Am I Risky?</h1>
    <p class="lead">Let's see if you qualify for a mortgage.</p>
    <p><a href="/CreditRisk" class="btn btn-primary btn-large">Submit your application &raquo;</a></p>
</div>

