<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="StorageAccountName" value="cscplayground" />
    <add key="StorageAccountKeySecretUrl" value="https://ckeyvault.vault.azure.net:443/secrets/MyStorageAccessSecret/5cabeb4b4bc4427c854a5d68f81a315b" />
    <add key="KeyVaultAuthClientId" value="9961e7e9-bf5d-4641-8038-8d6e40308122" />
    <add key="KeyVaultAuthCertThumbprint" value="45F7375A1E6D634271B768A8C97A00905350234B" />
    <add key="KeyVaultAddress" value="https://CKeyVault.vault.azure.net" />

    <add key="ida:ClientId" value="0f9188ee-7c68-4655-9b30-aab8eb7bc34f" />
    <add key="ida:Tenant" value="cschittkhotmail.onmicrosoft.com" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:PostLogoutRedirectUri" value="http://web26101.azurewebsites.net" />
    
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cscplayground;AccountKey=JEAM7eAaZ87oAiBN9ApcPZNuFUlHTUs/o1OYg5cKY9JrCPqjda9bE9PhGaqGoFs9FRvcu5Pd1EqbOFR9Y8LwgA==" />
      <!--Uncomment the strings and insert your Key Vault credentials in the lines below. For more information about getting started with Key Vault, 
      please look at http://azure.microsoft.com/en-us/documentation/articles/key-vault-get-started/ -->
      <add key="KVClientId" value="9961e7e9-bf5d-4641-8038-8d6e40308122" />
      <add key="KVClientKey" value="+HEBib6PyYf+UHAje4tfVea0aJrVqBcZdTXuhdCbFfI=" />
      <add key="VaultUri" value="https://ckeyvault.vault.azure.net" />

  </appSettings>
  <system.web>
    <customErrors mode="On"></customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!--<dependentAssembly>
      <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-4.0.20511.1437" newVersion="4.0.20511.1437" />
    </dependentAssembly>-->
  </runtime>
</configuration>
